services:
  server:
    build: ./server/src
    command: >
      sh -c "chmod +x ./wait-for-it.sh &&
             ./wait-for-it.sh db:5432 -- sh -c 'npm install && npm start'"
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - SESSION_SECRET=
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=mydb
      - DB_PORT=5432
    restart: always
    working_dir: /usr/src/server
    depends_on:
      - db
    volumes:
      - ./wait-for-it.sh:/usr/src/server/wait-for-it.sh
    networks:
      - backend
  
  client:
    build: ./client/src
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:3000"  # Avoid port clash with server
    restart: always
    working_dir: /usr/src/client
    volumes:
      - ./client/src:/usr/src/client
    depends_on:
      - server
    networks:
      - backend

  db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
