services:
  app:
    build: ./src
    command: >
      sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - SESSION_SECRET=
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=mydb
      - DB_PORT=5432
    restart: always
    working_dir: /usr/src/app
    depends_on:
      - db
    networks:
      - backend

  db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
